# IDEs (WebStorm, IntelliJ, etc.)
.idea/
*.iml

# Editor-based HTTP Client
/httpRequests/

# Datasources (JetBrains)
/dataSources*
/shelf/
/workspace.xml

# Dependências
**/node_modules/

# Builds e temporários
**/dist/
**/.next/
**/.turbo/
**/.output/

# Docker volumes e dados
**/pgdata/

# Sistema
.DS_Store
Thumbs.db
